//
//  Kirino Themes
//  --------------------------------------------------

$kirino-themes: (
  white:              (base: #fff,    font: #666),
  default:            (base: #e1e5ec, font: #666),
  dark:               (base: #2f353b, font: #fff),
  blue:               (base: #3598dc, font: #fff),
  blue-madison:       (base: #578ebe, font: #fff),
  blue-chambray:      (base: #2c3e50, font: #fff),
  blue-ebonyclay:     (base: #22313f, font: #fff),
  blue-hoki:          (base: #67809f, font: #fff),
  blue-steel:         (base: #4b77be, font: #fff),
  blue-soft:          (base: #4c87b9, font: #fff),
  blue-dark:          (base: #5e738b, font: #fff),
  blue-sharp:         (base: #5c9bd1, font: #fff),
  green:              (base: #32c5d2, font: #fff),
  green-meadow:       (base: #1bbc9b, font: #fff),
  green-seagreen:     (base: #1ba39c, font: #fff),
  green-turquoise:    (base: #36d7b7, font: #fff),
  green-haze:         (base: #44b6ae, font: #fff),
  green-jungle:       (base: #26c281, font: #fff),
  green-soft:         (base: #3faba4, font: #fff),
  green-dark:         (base: #4db3a2, font: #fff),
  green-sharp:        (base: #2ab4c0, font: #fff),
  grey:               (base: #e5e5e5, font: #333),
  grey-steel:         (base: #e9edef, font: #80898e),
  grey-cararra:       (base: #fafafa, font: #333),
  grey-gallery:       (base: #555,    font: #fff),
  grey-cascade:       (base: #95a5a6, font: #fff),
  grey-silver:        (base: #bfbfbf, font: #fafcfb),
  grey-salsa:         (base: #acb5c3, font: #fafcfb),
  grey-salt:          (base: #bfcad1, font: #fafcfb),
  grey-mint:          (base: #525e64, font: #fff),
  red:                (base: #e7505a, font: #fff),
  red-pink:           (base: #e08283, font: #fff),
  red-sunglo:         (base: #e26a6a, font: #fff),
  red-intense:        (base: #e35b5a, font: #fff),
  red-thunderbird:    (base: #d91e18, font: #fff),
  red-flamingo:       (base: #ef4836, font: #fff),
  red-soft:           (base: #d05454, font: #fff),
  red-haze:           (base: #f36a5a, font: #fff),
  red-mint:           (base: #e43a45, font: #fff),
  yellow:             (base: #c49f47, font: #fff),
  yellow-gold:        (base: #e87e04, font: #fff),
  yellow-casablanca:  (base: #f2784b, font: #fff),
  yellow-crusta:      (base: #f3c200, font: #fff),
  yellow-lemon:       (base: #f7ca18, font: #fff),
  yellow-saffron:     (base: #f4d03f, font: #fff),
  yellow-soft:        (base: #c8d046, font: #fff),
  yellow-haze:        (base: #c5bf66, font: #fff),
  yellow-mint:        (base: #c5b96b, font: #fff),
  purple:             (base: #8e44ad, font: #fff),
  purple-plum:        (base: #8775a7, font: #fff),
  purple-medium:      (base: #bf55ec, font: #fff),
  purple-studio:      (base: #8e44ad, font: #fff),
  purple-wisteria:    (base: #9b59b6, font: #fff),
  purple-seance:      (base: #9a12b3, font: #fff),
  purple-intense:     (base: #8775a7, font: #fff),
  purple-sharp:       (base: #796799, font: #fff),
  purple-soft:        (base: #8877a9, font: #fff)
);
