//
//  Variables
//  --------------------------------------------------

@import "utils/variables/color";
@import "utils/variables/device";
@import "utils/variables/screen";
@import "utils/variables/transition";
@import "utils/variables/typography";

$xs-em:                                      0.15em;
$sm-em:                                      0.25em;
$md-em:                                      0.5em;
$lg-em:                                      0.75em;

$header-height:                              80px;
